@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Content>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

			<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>@Model.Value("contentTitle")</h2>
					
					</header>

					<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>
			<p>	@Model.Value("contentText")</p>
			
			

				</div>
			</section>

		<!-- Footer -->
			
			</span>
			</section>







