@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ErrorPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}
			<section class="wrapper" id="banner">

<h3>@Model.Value("errorTitle")</h3>

<p>@Model.Value("errorMessage")</p>
</section>