@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Login>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<section id="one" class="wrapper style2">
    
    		<div class="inner">
				
<div class="content ">
    
    
    
@{ Html.RenderAction("RenderLogin", "Member"); }
</div>
            </div>
</section>